    public static {{protoFullName}} toProto({{domainFullName}} domain) {
        switch(domain) {
{{#enumValueData}}
            case {{domainName}}:
                return {{protoFullName}}.{{protoName}};
{{/enumValueData}}
        }

        throw new IllegalArgumentException("Unhandled proto enum value: " + domain);
    }