{{#concreteFieldData}}
    {{#hasConverter}}
        {
            {{converterFullName}} converter = new {{converterFullName}}();
            if(converter.shouldAssignToProto(domain.{{domainGetterMethod}}())) {
                builder.{{protoBuilderSetCommand}}(converter.toProtobufValue(domain.{{domainGetterMethod}}()));
            }
        }
    {{/hasConverter}}
    {{^hasConverter}}
        {{#isNullableDomainType}}
        if(domain.get{{domainFieldMethodSuffix}}() != null) {
            {{{addToBuilderCommand}}};
        }
        {{/isNullableDomainType}}
        {{^isNullableDomainType}}
        {{{addToBuilderCommand}}};
        {{/isNullableDomainType}}

    {{/hasConverter}}

{{/concreteFieldData}}
{{#oneofFieldData}}
        {
        Object domainBase = domain.get{{oneofBaseField}}();
        if(domainBase == null) {
        } else
{{> oneof_base_to_proto}}
        }
{{/oneofFieldData}}