{{#mapToDomainField}}
    {{#fieldData}}
{{> oneof_concrete_field_to_proto}}
    {{/fieldData}}
    {{#constructorParameter}}
{{> oneof_concrete_field_to_proto}}
    {{/constructorParameter}}
{{/mapToDomainField}}
{{^mapToDomainField}}
    {{#hasConverter}}
        {
            {{converterFullName}} converter = new {{converterFullName}}();
            if(converter.shouldAssignToProto(domainImpl)) {
                builder.set{{oneOfProtoField}}(converter.toProtobufValue(domainImpl));
            }
        }
    {{/hasConverter}}
    {{^hasConverter}}
            builder.set{{oneOfProtoField}}(toProto(domainImpl));
    {{/hasConverter}}
{{/mapToDomainField}}