{{#isNullableProtoType}}
                                if(proto.has{{protoFieldPascalCase}}()) {
                                    domainBuilder.{{domainFieldName}}(
{{> concrete_field_to_domain}}
                                    );
                                }
{{/isNullableProtoType}}
{{^isNullableProtoType}}
    {{#hasSetterPrefix}}
                                domainBuilder.{{setterPrefix}}{{domainFieldMethodSuffix}}(
    {{/hasSetterPrefix}}
    {{^hasSetterPrefix}}
                                domainBuilder.{{domainFieldName}}(
    {{/hasSetterPrefix}}
{{> concrete_field_to_domain}}
                                );
{{/isNullableProtoType}}