{{#fieldsData}}
    {{#concreteFieldData}}
        {{#isNullableProtoType}}
        if(proto.has{{protoFieldPascalCase}}()) {
            domain.set{{domainFieldMethodSuffix}}(
{{> field_to_domain}}            );
        }
        {{/isNullableProtoType}}
        {{^isNullableProtoType}}
        domain.set{{domainFieldMethodSuffix}}(
{{> field_to_domain}}        );
        {{/isNullableProtoType}}
    {{/concreteFieldData}}
    {{#oneofFieldData}}
        domain.set{{oneofBaseField}}(
{{> field_to_domain}}            );
    {{/oneofFieldData}}
{{/fieldsData}}